<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도서관리 시스템</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      table,
      td,
      th {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      th {
        font-size: large;
        background-color:rgb(244, 255, 146)
      }

      td {
        background-color: white;
      }
      table {
        width: 30%;
        border-collapse: collapse;
      }
      body {
        background-color: lightcyan;
        text-align: center;
      }
      header {
        background-color: lavenderblush;
        padding: 2%;
      }
      h1 {
        text-align: center;
      }
      input {
        border: 0;
        outline: 0;
        background-color: lavenderblush;
        font-size: large;
      }
      ol {
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        position: relative;
      }
      table {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <p><a href="/create"></a></p>
    <p><a href="/add"></a></p>
    <header>
      <h1>도서관리 프로그램</h1>
      <nav>
        <ol>
          <li>
            <input
              class="bookAdd"
              type="button"
              value="도서 추가"
              onclick="location.href='/create'"
            />
          </li>
          <li>
            <input
              type="button"
              value="사용자 추가"
              onclick="location.href='/add'"
            />
          </li>
        </ol>
      </nav>
    </header>
    <table>
      <tr>
        <th>이름</th>
        <th>출판사</th>
        <th>반납 여부</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      <% book.forEach(function (value) { %>
      <tr>
        <td><%=value.book_name %></td>
        <td><%=value.publishing_house %></td>
        <td><%=value.rentYN %></td>
        <td><a href="/edit/<%= value.book_no %>">수정</a></td>
        <td><a href="/delete/<%= value.book_no %>">삭제</a></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
