<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      td,
      th {
        border: 1px solid black;
      }
      table {
        width: 30%;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>도서관리프로그램 네프 수행</h1>
    <p><a href="/create"></a></p>
    <input
      type="button"
      value="도서 추가"
      onclick="location.href='/create'"
    />
    <br />
    <table>
      <tr>
        <th>이름</th>
        <th>출판사</th>
        <th>반납 여부</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      <% book.forEach(function (value) { %>
      <tr>
        <td><%=value.book_name %></td>
        <td><%=value.publishing_house %></td>
        <td><%=value.rentYN %></td>
        <td><a href="/edit/<%= value.book_no %>">수정</a></td>
        <td><a href="/delete/<%= value.book_no %>">삭제</a></td>
      </tr>
      <% }); %>
    </table>
    <p><a href="/add"></a></p>
    <input
      type="button"
      value="사용자 추가"
      onclick="location.href='/add'"
    />
  </body>
</html>
